/**
 * We Dance
*/
/*
 * @author Francois-Xavier Aeberhard <fx@red-agent.com>
*/

/* Override default browser styles */
html {
    background: black;
}

body {
    color:white;
    overflow: hidden;
}
a, a:visited {
    color: lightgray;
}
select {
    margin: 0;
}
input[type="submit"], input[type="reset"] {
    padding:2px 4px;
    cursor: pointer;
}
/* */
.yui3-button {
    color: lightgray;
    background-color: #191919;
}
/* Video */
.yui3-wedance-video  {
    text-align: center;
}

/* Karaoke */
.yui3-wedance-karaokeplayer {
    pointer-events: none;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.karaoke-type-upcoming {
    color: lightgray;
}
.karaoke-type-ready {
    color: #058359;
}
.karaoke-type-instrumental {
    color: #065BC4;
}
.karaoke-display {
    padding: 0 0 10px 0;
    font-size:200%;
    text-align:center;
    font-family: 'Luckiest Guy', cursive;
}
.karaoke-overlay {
    color: #FF0000;
    font-weight: normal;
    text-decoration: underline;
}
/* Pictos */
.yui3-wedance-picto {
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

/* Moves */
.yui3-wedance-moves .moves-display {
    position:absolute;
    bottom:120px;
    left:0px;
    width:200%;
    height:100px;
}
.yui3-wedance-moves .yui3-wedance-picto {
    position: absolute;
    top:0;
}

/* Cursor */
.yui3-wedance-cursor {
    position: absolute;
    bottom:115px;
    width:100%;
    text-align:center;
}
.yui3-wedance-cursor-content {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0;
    background: url(../images/wedance-cursor.png);
}

/* Scores styles */
.yui3-wedance-scores {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
}
.yui3-wedance-score-content{
    border: 1px solid purple;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding:10px;
    margin-bottom: 10px;
    width: 150px;
    color: white;
}
.track-moves .yui3-wedance-score-content {
    background: rgba(255, 255, 255, 0.2) url(../images/wedance-icon-trackmoves.png) no-repeat 105px 0;
    background-size: 34px;
}
.track-karaoke .yui3-wedance-score-content {
    background: rgba(255, 255, 255, 0.2) url(../images/wedance-icon-trackkaraoke.png) no-repeat 105px 0;
    background-size: 34px;
}
.yui3-wedance-score .score {
    float: right;
}

/* Scores styles: feedbacks */
.yui3-wedance-score .fb {
    position: absolute;
    top: -8px;
    opacity: 0;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000; /* emboss effect */
    color: #ddd;
    /*    text-shadow: .03em .03em 0em white,
            -.03em -.03em 0em white,
            .03em -.03em 0em white,
            -.03em .03em 0em white;*/
}
.yui3-wedance-score .fb.perfect {
    color: green;
}
.yui3-wedance-score .fb.good {
    color: greenyellow;
}
.yui3-wedance-score .fb.ok {
    color: goldenrod;
}
.yui3-wedance-score .fb.bad {
    color: red;
}
/* Join game QR */
.yui3-wedance-joinwidget {
    position: absolute;
    top:10px;
    right:10px;
    border: 1px solid purple;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding:10px;
    color: white;
    text-align:center;
}
.yui3-wedance-joinwidget-hidden {
    display:none;
}

/* Track styles */
.yui3-wedance-track > div {
    position: relative;
}


/* Controller styles */
.yui3-wedance-controller {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
}

.yui3-wedance-controller button {
    margin-top: 5px;
    display: block;
    width: 200px;
}

.yui3-wedance-controller .descr {
    padding-bottom: 10px;
    text-align:center;
}

/* Lobby styles */
.yui3-wedance-lobby {
    padding-left: 305px;
    height: 100%;
}
.yui3-wedance-lobby .left {
    margin-left: -305px;
    width: 305px;
    height: 100%;
    min-height: 1290px;
    background: url(../images/aside-bg.png) repeat-y -30px 0;
}
.yui3-wedance-lobby .left li {
    line-height: 66px;
    font-weight: bolder;
    font-size: 39px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    font-family: 'Keania One', cursive;
    letter-spacing: -2px;
    word-spacing: 6px;
    color: black;
    text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;
}
.yui3-wedance-lobby .left .start-game {
    width: 368px;
    height: 86px;
    background: url(../images/nav1.png);
    left: 221px;
    top: 128px;
}

.yui3-wedance-lobby .left .join-game {
    width: 367px;
    height: 72px;
    background: url(../images/nav2.png);
    left: 281px;
    top: 217px;
}
.yui3-wedance-lobby .left .create-game {
    width: 367px;
    height: 82px;
    background: url(../images/nav3.png);
    position: absolute;
    left: 238px;
    top: 296px;
}
.yui3-wedance-lobby .left .watch {
    width: 326px;
    height: 70px;
    background: url(../images/nav4.png);
    left: 295px;
    top: 385px;
}
.yui3-wedance-lobby-content {
    min-height: 724px;
    font: 13px/22px Arial, Helvetica, sans-serif;
    color: #929292;
    display: inline-block;
    width: 100%;
    background-image: url(../images/bg2.jpg);
    background-size: 100%;
    height: 9999px;
    bottom: 0;
    background-repeat: no-repeat;
    background-color: black;
}

.yui3-wedance-lobby-content .win {
    margin: 128px 60px 0 370px;
    padding: 50px;
    background: url(../images/content-bg.png);
    position: relative;
    width: 592px;
}
.yui3-wedance-lobby-content .win.hidden {
    display:none;
}

.yui3-wedance-lobby-content .spacer {
    padding: 30px 0;
    text-align: center;
    font-style: italic;/*191919*/
}

.yui3-wedance-lobby .win.loading {
    background: url(../images/content-bg.png),
        url(../images/loading.gif) center no-repeat;
}

.yui3-wedance-lobby .win .close {
    background: #00AEF0;
    width: 56px;
    text-align: center;
    font: bold 30px Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 0;
    cursor: pointer;
}


.yui3-wedance-lobby .inputEx-fieldWrapper {
    display: inline-block;
    vertical-align: top;
    margin: 3px 5px 0 35px;
}

.yui3-wedance-lobby .yui3-button {
    display:inline-block;
}