/*
 * We Dance
*/
/*
 * @author Francois-Xavier Aeberhard <fx@red-agent.com>
*/

.yui3-skin-sam .yui3-wedance-edit .yui3-tabview {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.yui3-skin-sam .yui3-wedance-edit .yui3-tabview-content {
    position: relative;
}
.yui3-skin-sam .yui3-wedance-edit .yui3-tabview-panel {
    border: 1px solid gray;
    border-top-color: #243356;
    background: white;
    padding: 0;
    /*    position: absolute;
        top: 28px;
        bottom: 0;
        left: 0;
        right: 0;*/
}
.yui3-skin-sam .yui3-tab-panel  {
    /*    position: relative;*/
}
.yui3-skin-sam .yui3-wedance-karaokeeditor .lyrics {
    border-top: 2px solid gray;
    position: absolute;
    width: 100%;
}
.yui3-skin-sam .yui3-wedance-karaokeeditor .startl {
    font-size: 9px;
    color: black;
}
.yui3-skin-sam .yui3-wedance-karaokeeditor .scroll {
    height:2000px;
}

.yui3-skin-sam .yui3-wedance-karaokeeditor .lyrics .picto {
    width:100px;
    height:100px;
    margin:20px;
}
