/*
 * We Dance
*/
/*
 * @author Francois-Xavier Aeberhard <fx@red-agent.com>
*/

/* Override default browser styles */
html {
    background: black;
}

body {
    color:white;
    overflow: hidden;
}
a, a:visited {
    color: lightgray;
}
select {
    margin: 0;
}
input[type="submit"], input[type="reset"] {
    padding:2px 4px;
    cursor: pointer;
}

/* Video */
.yui3-wedance-video  {
    text-align: center;
}

/* Karaoke */
.yui3-wedance-karaokeplayer {
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.karaoke-type-upcoming {
    color: lightgray;
}
.karaoke-type-ready {
    color: #058359;
}
.karaoke-type-instrumental {
    color: #065BC4;
}
.karaoke-display {
    padding: 0 0 10px 0;
    font-size:200%;
    text-align:center;
    font-family: 'Luckiest Guy', cursive;
}
.karaoke-overlay {
    color: #FF0000;
    font-weight: normal;
    text-decoration: underline;
}

/* Moves */
.yui3-wedance-moves .moves-display {
    position:absolute;
    bottom:120px;
    left:0px;
    width:200%;
    height:100px;
}
.yui3-wedance-moves .move {
    position: absolute;
    width:100px;
    height:100px;
    top:0;
    background: url(../images/087.png);
}

/* Cursor */
.yui3-wedance-cursor {
    position: absolute;
    bottom:115px;
    width:100%;
    text-align:center;
}
.yui3-wedance-cursor-content {
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0;
    background: url(../images/wedance-cursor.png);
}

/* Scores styles */
.yui3-wedance-scores {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
}
.yui3-wedance-score-content{
    border: 1px solid purple;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding:10px;
    margin-bottom: 10px;
    width: 150px;
    color: white;
}
.track-moves .yui3-wedance-score-content {
    background: rgba(255, 255, 255, 0.2) url(../images/wedance-icon-trackmoves.png) no-repeat 105px 0;
    background-size: 34px;
}
.track-karaoke .yui3-wedance-score-content {
    background: rgba(255, 255, 255, 0.2) url(../images/wedance-icon-trackkaraoke.png) no-repeat 105px 0;
    background-size: 34px;
}
.yui3-wedance-score .score {
    float: right;
}

/* Scores styles: feedbacks */
.yui3-wedance-score .fb {
    position: absolute;
    top: -8px;
    opacity: 0;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000; /* emboss effect */
    color: #ddd;
    /*    text-shadow: .03em .03em 0em white,
            -.03em -.03em 0em white,
            .03em -.03em 0em white,
            -.03em .03em 0em white;*/
}
.yui3-wedance-score .fb.perfect {
    color: green;
}
.yui3-wedance-score .fb.good {
    color: greenyellow;
}
.yui3-wedance-score .fb.ok {
    color: goldenrod;
}
.yui3-wedance-score .fb.bad {
    color: red;
}
/* Join game QR */
.yui3-wedance-joinwidget {
    position: absolute;
    top:10px;
    right:10px;
    border: 1px solid purple;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    padding:10px;
    color: white;
    text-align:center;
}
.yui3-wedance-joinwidget-hidden {
    display:none;
}

/* Track styles */
.yui3-wedance-track > div {
    position: relative;
}


/* Controller styles */
.yui3-wedance-controller {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -100px;
}

.yui3-wedance-controller button {
    margin-top: 5px;
    display: block;
    width: 200px;
}

.yui3-wedance-controller .descr {
    padding-bottom: 10px;
    text-align:center;
}